################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TTFL/TTFL/bin/Debug/net5.0
/TTFL/TTFL/obj
/TTFL/.vs/TTFL/v16
/.vs/TTFL/v16

*.v2

TTFL/TTFL/bin/

TTFL/TTFL/Properties/PublishProfiles/

TTFL/TTFL/TTFL.csproj.user

TTFL/.vs/TTFL/v17/.futdcache.v1

TTFL/.vs/TTFL/v17/.suo

TTFL/.vs/TTFL/v17/
/TTFL.WEB.APP/TTFL.WEB.APP/bin/Debug/net6.0
/TTFL.WEB.APP/TTFL.WEB.APP/obj/Debug/net6.0
/TTFL.WEB.APP/TTFL.WEB.APP/obj
/TTFL.WEB.APP/TTFL.COMMON/bin/Debug/net6.0
/TTFL.WEB.APP/TTFL.COMMON/bin/Release/net6.0
/TTFL.WEB.APP/TTFL.COMMON/obj/Debug/net6.0
/TTFL.WEB.APP/TTFL.COMMON/obj/Release/net6.0
/TTFL.WEB.APP/TTFL.COMMON/obj
/TTFL.WEB.APP/TTFL.SERVICES/bin
/TTFL.WEB.APP/TTFL.ENTITIES/obj
/TTFL.WEB.APP/TTFL.ENTITIES/bin/Debug/net6.0
/TTFL.WEB.APP/TTFL.ENTITIES/bin/Release/net6.0
/TTFL.WEB.APP/TTFL.SERVICES.CONTRACT/bin
/TTFL.WEB.APP/TTFL.WEB.APP/Properties/PublishProfiles
/TTFL.WEB.APP/TTFL.WEB.APP/bin/Release/net6.0
/TTFL.WEB.APP/TTFL.WEB.APP/.config
/TTFL.WEB.APP/TTFL.SERVICES.CONTRACT/obj
/TTFL.WEB.APP/TTFL.SERVICES/obj
/TTFL.WEB.APP/.vs/TTFL.WEB.APP/FileContentIndex
/TTFL.WEB.APP/TTFL.CONSOLE/bin/Debug/net6.0
/TTFL.WEB.APP/TTFL.CONSOLE/obj
/TTFL.WEB.APP/.vs/TTFL.WEB.APP/config/applicationhost.config
/TTFL.WEB.APP/TTFL.CONSOLE/bin/Release/net6.0
/TTFL/.vs/TTFL/FileContentIndex
/TTFL.WEB.APP/.vs/TTFL.WEB.APP/v17/TestStore/0
.vs/TTFL/v17/.suo
TTFL.WEB.APP/.vs/TTFL.WEB.APP/FileContentIndex/9a6e60ed-ac7f-44cf-aa8c-8e3127737ea3.vsidx
/.vs/TTFL/FileContentIndex
/TTFL.WEB.APP/.vscode
/.vs
/TTFL/.vs
/TTFL.WEB.APP/.vs
/TTFL.WEB.APP/TTFL.CONSOLE/Properties/PublishProfiles
