<div class="row">
    <h2 class="text-center">@Model</h2>
</div>
<div class="row">
    <img class="img-fluid imgBananaError" src="~/Resources/Pictures/MissingBanana.jpg" />
</div>

<style>
    .imgBananaError {
        height: 50% !important;
        width: 50% !important;
        margin-left: 25%;
        margin-right: 25%;
    }
</style>